@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 400;
  src: local("Catamaran-Regular"),
    url("../fonts/Catamaran-Regular.woff2") format("woff2"),
    url("../fonts/Catamaran-Regular.woff") format("woff");
}

@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 500;
  src: local("Catamaran-Medium"),
    url("../fonts/Catamaran-Medium.woff2") format("woff2"),
    url("../fonts/Catamaran-Medium.woff") format("woff");
}

@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 600;
  src: local("Catamaran-SemiBold"),
    url("../fonts/Catamaran-SemiBold.woff2") format("woff2"),
    url("../fonts/Catamaran-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Catamaran";
  font-style: normal;
  font-weight: 700;
  src: local("Catamaran-Bold"),
    url("../fonts/Catamaran-Bold.woff2") format("woff2"),
    url("../fonts/Catamaran-Bold.woff") format("woff");
}