<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>Barber</title>

  <link rel="stylesheet" type="text/css" href="css/style.min.css" />
  <link rel="shortcut icon" href="images/favicon.png">

  <meta name="Author" content="Ilia Green">
  <meta name="Address" content="Russia">
</head>

<body>
  <header class="header">
    <div class="container">
      <div class="wrapper">

        <div class="leftBar">

          <div class="logotype">
            <a href="/">
              <img src="../images/logo.svg" alt="Logotype">
            </a>
          </div>

          <nav class="navigation">
            <ul>
              <li class="linkActive"><a href="/">Home</a></li>
              <li><a href="/">History</a></li>
              <li><a href="/">Service</a></li>
              <li><a href="/">Gallary</a></li>
            </ul>
          </nav>

        </div>

        <div class="rightBar">
          <a href="/"><img src="../images/profile.svg" alt="Person icon"></a>
          <a href="/"><img src="../images//notification.svg" alt="Bell icon"></a>
          <button class="mainBtn">Appointment</button>
        </div>

        <div class="burger">
          <svg xmlns="http://www.w3.org/2000/svg" height="42" width="42"
            viewBox="0 0 448 512"><!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2024 Fonticons, Inc.-->
            <path fill="#99baed"
              d="M0 96C0 78.3 14.3 64 32 64H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32C14.3 128 0 113.7 0 96zM0 256c0-17.7 14.3-32 32-32H416c17.7 0 32 14.3 32 32s-14.3 32-32 32H32c-17.7 0-32-14.3-32-32zM448 416c0 17.7-14.3 32-32 32H32c-17.7 0-32-14.3-32-32s14.3-32 32-32H416c17.7 0 32 14.3 32 32z" />
          </svg>
        </div>

      </div>
    </div>
  </header>