<div class="hero">
  <div class="container">
    <div class="wrapper">

      <div class="leftCol">

        <h1><span>Hairstyle</span> Reflects The Personality Inside You</h1>

        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at.</p>

        <button class="mainBtn">Get Started</button>
      </div>

      <div class="rightCol">
        <img src="images/hero__img.webp" alt="">
      </div>

    </div>
  </div>

</div>