<div class="ourGallery">
  <div class="container">

    <div class="title">
      <h2>Our <span>Gallery</span></h2>
    </div>

    <div class="cards">
      <div class=""><img src="../images/gallery1.webp" alt="Gallery picture"></div>
      <div class=""><img src="../images/gallery2.webp" alt="Gallery picture"></div>
      <div class=""><img src="../images/gallery3.webp" alt="Gallery picture"></div>
      <div class=""><img src="../images/gallery4.webp" alt="Gallery picture"></div>
      <div class=""><img src="../images/gallery5.webp" alt="Gallery picture"></div>
      <div class=""><img src="../images/gallery6.webp" alt="Gallery picture"></div>
    </div>

    <button class="mainBtn">View All</button>

  </div>
  <div class="leftCorner"></div>
  <div class="rightCorner"></div>
</div>