<div class="ourHistory">
  <div class="container">
    <div class="wrapper">

      <div class="leftCol">
        <img src="../images/our-history__img.webp" alt="Barber worker">
      </div>

      <div class="rightCol">
        <h2>Our <span>History</span></h2>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at.</p>
        <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking
          at.</p>
        <button class="mainBtn">Learn more</button>
      </div>

    </div>
  </div>

  <div class="leftCorner"></div>

  <div class="rightCorner"></div>
</div>